.titulo1 {
    grid-area: titulo1;
    background-color: #DED4D2; 
    .banner {
        height: 60vh;
        width: 100%; 
    }
    .titulo1 h1 {
        font-family: 'Antic', sans-serif;
        color: black;
        font-size: 50px;
        width: 800px;
        padding: 10px;
        border-radius: 5px;
        margin: 30px auto;
        text-align: center;
     }
}
.productosPromo {
    grid-area: sale;
    background-color: #DED4D2; 
    .productosPromo h2 {
        font-family: 'Antic', sans-serif;
        color: black;
        font-size: 35px;
        width: 600px;
        padding: 10px;
        border-radius: 5px;
        margin: 30px auto;
        text-align: center; 
    }
}
