* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.header {
  grid-area: header;
  background-color: #DED4D2;
  align-items: center; }

.contenedorHeader {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100px;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
  align-items: center;
  background-color: #DED4D2; }

.logo {
  width: 90px;
  height: 90px;
  padding: 5px;
  margin: 5px auto;
  padding: 3px;
  border-radius: 50px; }

.navegacion {
  width: 55vw;
  margin: 50px auto; }

.navegacion ul {
  list-style: none; }

.menu > li {
  position: relative;
  display: inline-block; }

.menu > li > a {
  display: block;
  padding: 20px 20px;
  color: white;
  font-family: 'Antic', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  text-align: center; }

.menu li a:hover {
  color: #bd849c;
  transition: all 300ms ease; }

/* Submenu*/
.submenu {
  position: absolute;
  background: black;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s; }

.submenu li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: 'Antic', sans-serif;
  text-decoration: none; }

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1; }

.titulo1 {
  grid-area: titulo1;
  background-color: #DED4D2; }
  .titulo1 .banner {
    height: 60vh;
    width: 100%; }
  .titulo1 h1 {
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    text-align: center; }

.seccion1 {
  grid-area: secc1;
  width: 100%;
  background-color: #DED4D2;
  display: flex;
  justify-content: space-around; }
  .seccion1 .contenedorVideo {
    background-color: white;
    margin: 40px 30px;
    width: 20vw;
    height: 60vh;
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px; }
    .seccion1 .contenedorVideo .video {
      height: 100%;
      width: 100%; }
  .seccion1 .cuerpoCard {
    background-color: white;
    margin: 40px 30px;
    width: 20vw;
    height: 68vh;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms ease; }
    .seccion1 .cuerpoCard:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 30px -15px #464545; }
    .seccion1 .cuerpoCard .descripcion {
      margin-bottom: 15px; }
      .seccion1 .cuerpoCard .descripcion .boton {
        text-decoration: none;
        color: white;
        background: black;
        padding: 15px;
        margin: 20px;
        border-radius: 5px;
        align-items: center;
        transition: all 0,2s;
        font-size: 18px; }
        .seccion1 .cuerpoCard .descripcion .boton:hover {
          background: grey; }

.productosPromo {
  grid-area: sale;
  background-color: #DED4D2; }
  .productosPromo h2 {
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 35px;
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center; }

.seccion2 {
  grid-area: secc2;
  background-color: #DED4D2;
  display: flex;
  justify-content: space-around; }
  .seccion2 .cuerpoCard {
    background-color: white;
    margin: 40px 30px;
    width: 20vw;
    height: 68vh;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms ease; }
    .seccion2 .cuerpoCard:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 30px -15px #464545; }
    .seccion2 .cuerpoCard .descripcion {
      margin-bottom: 10px; }
      .seccion2 .cuerpoCard .descripcion .boton {
        text-decoration: none;
        color: white;
        background: black;
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        transition: all 0,2s;
        font-size: 18px; }
        .seccion2 .cuerpoCard .descripcion .boton:hover {
          background: grey; }

.seccion3I {
  grid-area: secc3;
  background-color: #DED4D2;
  display: flex;
  justify-content: space-around; }
  .seccion3I .icono1 {
    text-align: center;
    padding: 5px;
    margin: 50px 20px; }
    .seccion3I .icono1 i {
      padding: 5px;
      margin: 10px 20px;
      height: 60px;
      width: 60px;
      line-height: 45px;
      margin-right: 25px;
      color: white;
      background-color: black;
      text-align: center;
      border-radius: 5px; }
    .seccion3I .icono1 p {
      font-family: 'Antic', sans-serif;
      font-size: 20px;
      padding: 10px;
      margin: 3px; }

.seccionContacto {
  grid-area: seccCont;
  background-color: #DED4D2; }

.container1 {
  flex-direction: column;
  display: flex;
  align-items: center; }

.container1 p {
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  font-family: 'Antic', sans-serif; }

.container1 p i {
  padding: 5px;
  margin: 5px;
  height: 60px;
  width: 60px;
  line-height: 45px;
  margin-right: 25px;
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 5px; }

.seccionForm {
  grid-area: seccForm;
  background: #DED4D2; }

.contenedorForm {
  background-color: #DED4D2; }

.container {
  height: 800px;
  width: 800px;
  background: #DED4D2; }

.titulo1 {
  grid-area: titulo1;
  background-color: #DED4D2; }
  .titulo1 h1 {
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    text-align: center; }

.seccion1 {
  grid-area: secc1;
  width: 100%;
  background-color: #DED4D2;
  display: flex;
  justify-content: space-around; }
  .seccion1 .cuerpoCard {
    background-color: white;
    margin: 40px 30px;
    width: 20vw;
    height: 68vh;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms ease; }
    .seccion1 .cuerpoCard:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 30px -15px #464545; }
    .seccion1 .cuerpoCard .descripcion {
      margin-bottom: 15px; }
      .seccion1 .cuerpoCard .descripcion .boton {
        text-decoration: none;
        color: white;
        background: black;
        padding: 15px;
        margin: 20px;
        border-radius: 5px;
        align-items: center;
        transition: all 0,2s;
        font-size: 18px; }
        .seccion1 .cuerpoCard .descripcion .boton:hover {
          background: grey; }

.seccion2 {
  grid-area: secc2;
  background-color: #DED4D2;
  display: flex;
  justify-content: space-around; }
  .seccion2 .cuerpoCard {
    background-color: white;
    margin: 40px 30px;
    width: 20vw;
    height: 68vh;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms ease; }
    .seccion2 .cuerpoCard:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 30px -15px #464545; }
    .seccion2 .cuerpoCard .descripcion {
      margin-bottom: 10px; }
      .seccion2 .cuerpoCard .descripcion .boton {
        text-decoration: none;
        color: white;
        background: black;
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        transition: all 0,2s;
        font-size: 18px; }
        .seccion2 .cuerpoCard .descripcion .boton:hover {
          background: grey; }

.seccion3 {
  grid-area: secc3;
  background-color: #DED4D2;
  padding: 10px;
  margin: 0px 0px 3px 0px;
  flex-direction: column;
  display: flex;
  align-items: center; }
  .seccion3 .tablaDeTalles {
    background-color: white;
    font-family: 'Antic', sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 50px;
    border: solid white 3px;
    height: 300px;
    width: 600px;
    text-align: center; }

.titulo1 {
  grid-area: titulo1;
  background-color: #DED4D2;
  background-image: linear-gradient(#da8a96 pink); }
  .titulo1 h1 {
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin: 50px 10px;
    display: flex;
    text-align: center;
    top: 0%; }

.seccion1 {
  grid-area: secc1;
  width: 100%;
  background-color: #DED4D2;
  display: flex;
  justify-content: space-around; }
  .seccion1 .textoPreguntas {
    flex-direction: column;
    height: 1000px;
    width: 800px;
    margin: 3px auto; }
    .seccion1 .textoPreguntas p {
      font-family: 'Antic', sans-serif;
      font-size: 25px;
      padding: 10px;
      margin: 10px; }

.titulo1 {
  grid-area: titulo1;
  background-color: #DED4D2; }
  .titulo1 h1 {
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin: 20px 10px;
    text-align: center; }

.seccion1 {
  grid-area: secc1;
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .seccion1 .contenedorTexto {
    background: #c7b9b7;
    align-items: center;
    display: flex;
    height: 700px;
    width: 900px;
    border: solid 2px black;
    border-radius: 5px; }
    .seccion1 .contenedorTexto .textoPoliticas {
      flex-direction: column;
      height: 600px;
      width: 800px; }
      .seccion1 .contenedorTexto .textoPoliticas p {
        font-family: 'Antic', sans-serif;
        font-size: 25px;
        padding: 10px;
        margin: 10px; }

.footer {
  grid-area: footer;
  background: black;
  display: flex;
  justify-content: space-around; }
  .footer .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .footer .box .tituloRedes {
      font-family: 'Antic', sans-serif;
      font-size: 15px;
      padding: 10px;
      margin: 10px;
      color: white; }
    .footer .box .red-social a {
      display: inline-block;
      text-decoration: none;
      height: 45px;
      width: 45px;
      line-height: 45px;
      color: black;
      margin-right: 25px;
      background-color: white;
      text-align: center;
      border-radius: 5px;
      transition: all 300ms ease; }
      .footer .box .red-social a:hover {
        transform: scale(1.5); }
  .footer .copy p {
    font-family: 'Antic', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
    color: white; }

.grilla {
  padding: 5px;
  border: 5px;
  margin: 3px 3px 3px 3px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20vh 80vh 80vh 10vh 80vh 30vh 25vh;
  grid-template-areas: "header header header header" "titulo1 titulo1 titulo1 titulo1" "secc1 secc1 secc1 secc1" "sale sale sale sale"  "secc2 secc2 secc2 secc2" "secc3 secc3 secc3 secc3" "footer footer footer footer"; }

.grillaProductos {
  padding: 5px;
  border: 5px;
  margin: 3px 3px 3px 3px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10vh 15vh 75vh 75vh 60vh 25vh;
  grid-template-areas: "header header header header" "titulo1 titulo1 titulo1 titulo1" "secc1 secc1 secc1 secc1" "secc2 secc2 secc2 secc2" "secc3 secc3 secc3 secc3" "footer footer footer footer"; }

.grillaContacto {
  padding: 5px;
  border: 5px;
  margin: 3px 3px 3px 3px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 15vh 50vh 70vh  25vh;
  grid-template-areas: "header header header header" "titulo1 titulo1 titulo1 titulo1" "seccCont seccCont seccCont seccCont" "seccForm seccform seccform seccform" "footer footer footer footer"; }

.grilla-polit {
  padding: 5px;
  border: 5px;
  margin: 3px 3px 3px 3px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15vh 15vh 100vh 25vh;
  grid-template-areas: "header header header header" "titulo1 titulo1 titulo1 titulo1" "secc1 secc1 secc1 secc1" "footer footer footer footer"; }

.grillaPreg-frecuentes {
  padding: 5px;
  border: 5px;
  margin: 3px 3px 3px 3px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10vh 15vh 90vh 25vh;
  grid-template-areas: "header header header header" "titulo1 titulo1 titulo1 titulo1" "secc1 secc1 secc1 secc1" "footer footer footer footer"; }

.fotoProducto {
  height: 53vh;
  width: 19vw;
  padding: 5px;
  border: 3px;
  margin: 5px; }

@media (max-width: 768px) {
  .footer {
    height: 30vh;
    width: 100%; }
  .titulo1 h1 {
    font-size: 30px;
    padding: 20px;
    margin: 20px 10px; }
  .productosPromo h2 {
    font-size: 20px;
    padding: 10px;
    margin: 20px 10px; }
  .navegacion {
    width: 80vw;
    margin: 40px 10px; }
  .menu > li > a {
    display: flex;
    padding: 10px 10px;
    font-size: 15px; } }
