.grilla{
    padding: 5px;
	border: 5px;
	margin:3px 3px 3px 3px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20vh 80vh 80vh 10vh 80vh 30vh 25vh;
    grid-template-areas: 
    "header header header header"
    "titulo1 titulo1 titulo1 titulo1"
    "secc1 secc1 secc1 secc1"
    "sale sale sale sale" 
    "secc2 secc2 secc2 secc2"
	"secc3 secc3 secc3 secc3"
    "footer footer footer footer"
    ;
}
.grillaProductos{
    padding: 5px;
	border: 5px;
	margin:3px 3px 3px 3px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10vh 15vh 75vh 75vh 60vh 25vh;
    grid-template-areas: 
    "header header header header"
	"titulo1 titulo1 titulo1 titulo1"
    "secc1 secc1 secc1 secc1"
	"secc2 secc2 secc2 secc2"
	"secc3 secc3 secc3 secc3"
    "footer footer footer footer"
	;
}
.grillaContacto{
	padding: 5px;
    border: 5px;
    margin:3px 3px 3px 3px;
    display: grid;
    grid-template-columns: 100%;
	grid-template-rows: 20vh 15vh 50vh 70vh  25vh;
	grid-template-areas: 
	"header header header header"
	"titulo1 titulo1 titulo1 titulo1"
	"seccCont seccCont seccCont seccCont"
	"seccForm seccform seccform seccform"
	"footer footer footer footer";
}
.grilla-polit{
	padding: 5px;
	border: 5px;
	margin:3px 3px 3px 3px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15vh 15vh 100vh 25vh;
    grid-template-areas: 
    "header header header header"
	"titulo1 titulo1 titulo1 titulo1"
    "secc1 secc1 secc1 secc1"
    "footer footer footer footer"
	;
}
.grillaPreg-frecuentes{
	padding: 5px;
	border: 5px;
	margin:3px 3px 3px 3px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 10vh 15vh 90vh 25vh;
	grid-template-areas: 
	"header header header header"
	"titulo1 titulo1 titulo1 titulo1"
	"secc1 secc1 secc1 secc1"
	"footer footer footer footer"
	;
}