*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import'./utilidades/colores';
@import'./utilidades/medidas';

@import'./header-footer/header';
@import'./index';
@import'./secciones/contacto';
@import'./secciones/productos';
@import'./secciones/preguntasFrecuentes';
@import'./secciones/politicasDeDevolucion';
@import'./header-footer/footer';
@import'./grillas/grillas';


.fotoProducto{
	height: 53vh;
	width: 19vw;
	padding: 5px; 
	border: 3px;
	margin: 5px;
}
@media(max-width:768px ){
	.footer{
		height: 30vh;
		width: 100%;
	}
	.titulo1 h1{
		font-size: 30px;
	    padding: 20px;
	    margin: 20px 10px;
	}
	
	.productosPromo h2{
		font-size: 20px;
	    padding: 10px;
	    margin: 20px 10px;
	}
	.navegacion{
		width: 80vw;
		margin: 40px 10px;
		
	}
	.menu > li > a{
		display: flex;
		padding: 10px 10px;
		font-size: 15px;
	}	
}
