.seccionContacto{
	grid-area: seccCont;
	background-color:#DED4D2 ;
}
.container1{
	flex-direction: column;
	display: flex;
	align-items: center;
}
.container1 p{
	padding: 5px;
	margin: 5px;
	font-size: 25px;
	font-family: 'Antic', sans-serif;
}
.container1 p i{
	padding: 5px;
	margin: 5px;
	height: 60px;
	width: 60px;
	line-height: 45px;
    margin-right: 25px;
	color: white;
	background-color: black;
	text-align: center;
	border-radius: 5px;
	
}
.seccionForm{
	grid-area: seccForm;
	background:#DED4D2 ;
}
.contenedorForm{
	background-color: #DED4D2;
}
.container{
	height: 800px;
	width: 800px;
	background: #DED4D2;
	
}