.seccion3I {
    grid-area: secc3;
    background-color: #DED4D2;
    display: flex;
    justify-content: space-around; }
  
  .icono1 {
    text-align: center;
    padding: 5px;
    margin: 50px 20px; }
  
  .icono1 i {
    padding: 5px;
    margin: 10px 20px;
    height: 60px;
    width: 60px;
    line-height: 45px;
    margin-right: 25px;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 5px; }
  
  .icono1 p {
    font-family: 'Antic', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 3px; }